


/* call-to-action, header e accenti. */
$primaryColor1: #0047AB;
$primaryColor2: #20B2AA;
/* sfondi */
$bgSecondaryColor1: #F0F0F0 ;
$bgSecondaryColor2: #F8F8F8 ;
$bgSecondaryColor3: #FFFFFF ;
/* accent */
$accentColor: #FF6F00;
/* text */
$primaryTextColor:  #212529  ;
$secondaryTextColor: #6C757D ;
