$headingFonts: Montserrat,Inter,Helvetica,"sans serif";
$bodyFonts: "Open Sans",Roboto,Helvetica,"sans serif";
$normalBodyWeight:400;
$normalBodySize:1rem;
$normalBodyWeight:400;
$accentBodyWeight:600;
$accentBodySize:1.3rem;
$mainHeadingsSize:1.6rem;
$mainHeadingsWeight:800;
$secondaryHeadingsSize:1.4rem;
$secondaryHeadingsWeight:600;
$subsectionsHeadingsSize:1.2rem;
$subsectionsHeadingsWeight:400;