/* call-to-action, header e accenti. */
/* sfondi */
/* accent */
/* text */
/* fonts */
/* Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Italic.woff2") format("woff2"), url("OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-SemiBold.woff2") format("woff2"), url("OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-SemiBoldItalic.woff2") format("woff2"), url("OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Medium.woff2") format("woff2"), url("OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-LightItalic.woff2") format("woff2"), url("OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-BoldItalic.woff2") format("woff2"), url("OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-MediumItalic.woff2") format("woff2"), url("OpenSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Light.woff2") format("woff2"), url("OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-ExtraBold.woff2") format("woff2"), url("OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-SemiBold.woff2") format("woff2"), url("Roboto-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.woff2") format("woff2"), url("Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic.woff2") format("woff2"), url("Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-SemiBoldItalic.woff2") format("woff2"), url("Roboto-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic.woff2") format("woff2"), url("Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-ExtraBoldItalic.woff2") format("woff2"), url("Roboto-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-ExtraLight.woff2") format("woff2"), url("Roboto-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.woff2") format("woff2"), url("Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-BoldItalic.woff2") format("woff2"), url("Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-ExtraBold.woff2") format("woff2"), url("Roboto-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-ThinItalic.woff2") format("woff2"), url("Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-ExtraLightItalic.woff2") format("woff2"), url("Roboto-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-BlackItalic.woff2") format("woff2"), url("Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.header {
  width: 90%;
  height: auto;
  padding: 1rem;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #212529;
}
.header .header__heading {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header .header__heading a {
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .header__heading .header__logo {
  color: #0047AB;
  width: 64px;
  height: 64px;
  padding: 0;
}
.header .header__heading h1 {
  color: #212529;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  align-self: center;
}
.header .header__heading .header__searchbar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.header .header__heading .header__searchbar label {
  visibility: hidden;
  width: 0;
  height: 0;
}
.header .header__heading .header__searchbar input {
  background-color: #FFFFFF;
  border-color: #6C757D;
  color: #212529;
  padding: 0.5rem;
  border-radius: 8px;
}
.header .header__heading .header__searchbar input::placeholder {
  color: #212529;
}
.header .header__heading .header__searchbar input:focus {
  color: #FF6F00;
}
.header .header__heading .header__searchbar input:focus::placeholder {
  color: #FF6F00;
}
.header .header__heading .header__searchbar button {
  padding: 0.5rem;
  border-radius: 8px;
}
.header .header__heading .header__searchbar button:hover {
  background-color: #FF6F00;
}
.header .header__heading .header__searchbar button img {
  width: 16px;
  height: 16px;
}
.header .header__heading .header__icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header .header__heading .header__icons ul li {
  display: inline-block;
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .header__heading .header__icons ul li img {
  width: 64px;
  height: 64px;
  color: #0047AB;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 8px;
}
.header .header__heading .header__icons ul li img:hover {
  background-color: #FF6F00;
}
.header .header__links {
  margin-top: 1rem;
}
.header .header__links h2 {
  text-align: center;
}
.header .header__links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 1rem;
}
.header .header__links ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.header .header__links ul li a {
  text-decoration: none;
  color: #212529;
  border: 2px solid #212529;
  border-radius: 8px;
  padding: 0.5rem;
}
.header .header__links ul li a:hover {
  color: #FFFFFF;
  background-color: #FF6F00;
  border-color: #FF6F00;
}

/*# sourceMappingURL=App.css.map */
