/* call-to-action, header e accenti. */
/* sfondi */
/* accent */
/* text */
.header {
  width: 90%;
  height: auto;
  padding: 1rem;
  background-color: #FFFFFF;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #212529;
}
.header .header__heading {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header .header__heading a {
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .header__heading .header__logo {
  color: #0047AB;
  width: 64px;
  height: 64px;
  padding: 0;
}
.header .header__heading h1 {
  color: #212529;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  align-self: center;
  font-family: Montserrat, Inter, Helvetica, "sans serif";
  font-weight: 800;
  font-size: 1.6rem;
}
.header .header__heading .header__searchbar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.header .header__heading .header__searchbar label {
  visibility: hidden;
  width: 0;
  height: 0;
}
.header .header__heading .header__searchbar input {
  background-color: #FFFFFF;
  border-color: #6C757D;
  color: #212529;
  padding: 0.5rem;
  border-radius: 8px;
  font-family: "Open Sans", Roboto, Helvetica, "sans serif";
  font-size: 1rem;
  font-weight: 400;
}
.header .header__heading .header__searchbar input::placeholder {
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
}
.header .header__heading .header__searchbar input:focus {
  color: #FF6F00;
}
.header .header__heading .header__searchbar input:focus::placeholder {
  color: #FF6F00;
}
.header .header__heading .header__searchbar button {
  padding: 0.5rem;
  border-radius: 8px;
}
.header .header__heading .header__searchbar button:hover {
  background-color: #FF6F00;
}
.header .header__heading .header__searchbar button img {
  width: 16px;
  height: 16px;
}
.header .header__heading .header__icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header .header__heading .header__icons ul li {
  display: inline-block;
  padding: 0;
  display: flex;
  justify-content: center;
}
.header .header__heading .header__icons ul li img {
  width: 64px;
  height: 64px;
  color: #0047AB;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 8px;
}
.header .header__heading .header__icons ul li img:hover {
  background-color: #FF6F00;
}
.header .header__links {
  margin-top: 1rem;
}
.header .header__links h2 {
  text-align: center;
  font-family: Montserrat, Inter, Helvetica, "sans serif";
  font-weight: 600;
  font-size: 1.4rem;
}
.header .header__links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  row-gap: 1rem;
}
.header .header__links ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
}
.header .header__links ul li a {
  text-decoration: none;
  color: #212529;
  border: 2px solid #212529;
  border-radius: 8px;
  padding: 0.5rem;
}
.header .header__links ul li a:hover {
  color: #FFFFFF;
  background-color: #FF6F00;
  border-color: #FF6F00;
}

/*# sourceMappingURL=Navbar.css.map */
